<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revtwo.revtwo">

  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.READ_SMS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher_revtwo"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.NoActionBar">
    <activity
        android:name=".MainActivity"
        android:clearTaskOnLaunch="true"
        android:configChanges="orientation|screenSize"
        android:label="@string/app_name"/>
    <activity
        android:name=".RevTwoSplashActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.Fullscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <receiver android:name=".CustomNotificationReceiver">
      <intent-filter>
        <action android:name="com.revtwo.action.NOTIFICATION"/>
      </intent-filter>
    </receiver>

    <service android:name="com.revtwo.revtwolib.fcm.RevTwoFcmMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <service android:name="com.revtwo.revtwolib.core.CallReceiverService" >
    </service>

  </application>

</manifest>